@model Emlak2020.Models.Mahalle

@{
    ViewBag.Title = "Delete";
}



<h3>Are you sure you want to delete this?</h3>

<div class="container">


    <div class="row">
        <div class="col-md-3">
            <br />
            <!--filtreleme kısmı-->

            <form class="form-horizontal">
                <div class="form-group ">
                    <label for="inputEmail3" class="col-sm-4 col-form-label">En Az</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="En Az(Fiyat)">
                    </div>
                </div>

                <div class="form-group ">
                    <label for="inputEmail3" class="col-sm-4 col-form-label">En Çok</label>
                    <div class="form-group ">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="En Çok(Fiyat)">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="inputEmail3" class="col-sm-4 col-form-label">Şehir</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Şehir">
                        </div>

                    </div>
                    <div class="form-group ">
                        <label for="inputEmail3" class="col-sm-4 col-form-label">Semt</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Semt">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="inputEmail3" class="col-sm-4 col-form-label">Mahalle</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Mahalle">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="inputEmail3" class="col-sm-4 col-form-label">Durum</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Durum">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="inputEmail3" class="col-sm-4 col-form-label">Tip</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Tip">
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <label for="inputEmail3" class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary"><img src="/Content/emlakresim/magnify-plus (1).png" />FİLTRELEME</button>
                    </div>
                </div>
            </form>
        </div>


        <!--ilan listesi-->
        <br />


        <div class="col-md-9">
            <div class="thumbnail" style="width:845px;">




                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Admin/Index"style="color:darkblue">Admin Sayfası</a></li>
                        <li class="breadcrumb-item"><a href="#"style="color:darkblue">Mahalle Sil</a></li>

                    </ol>
                </nav>
                <h3>Bu kaydı silmek istedğinizden emin misiniz?</h3>
                <div>

                    <dl class="dl-horizontal">
                        <dt>
                          Semt Adı
                        </dt>

                        <dd>
                         
                            @Html.DisplayFor(model => model.Semt.SemtAd)
                        </dd>

                        <dt>
                          Mahalle Adı
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MahalleAd)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Sil" class="btn btn-danger" /> |
                            @Html.ActionLink("Mahalle Listesi", "Index", null, new { @class = "btn btn-warning" })
                        </div>
                    }
                </div>


            </div>
        </div>
    </div>
</div>

